
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
<table class='table table-hover table-condensed'>
	
	<% videos.forEach(function(video) { %>

		<tr>
		<td>
			<video width="100%" height="240" controls>
			<source src=<%- "\\videos\\" + video.fd %> type="video/mp4">
			</video>
		</td>
		<td><%- video.filename %></td>
		<td><%- video.category %></td> 
		
	 </tr>
  
	<% }); %>
	
	</table>
