<div id="view" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/worksheets/view.less</em>, <em>assets/js/pages/worksheets/view.page.js</em>, and <em>api/controllers/worksheets/view-view.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
