<div id="syllabus" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/syllabus.less</em>, <em>assets/js/pages/syllabus.page.js</em>, and <em>api/controllers/view-syllabus.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
