	<form action="/videos3/update/<%=videos3.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a videos3... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= videos3. %>" name="" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Videos3" class="btn btn-default"/>
		<a href="/videos3/show/<%=videos3.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	