<form class="show">
	<div class="form-group">
		<h2> a videos3... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= videos3. %>" name="" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/videos3/edit/<%=videos3.id %>" class="btn btn-default">Edit</a> |
<a href="/videos3">Back to list</a>
</form>