<div id="document-view" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/document_view.less</em>, <em>assets/js/pages/document_view.page.js</em>, and <em>api/controllers/view-document-view.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
