<div id="login-2" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/login2.less</em>, <em>assets/js/pages/login2.page.js</em>, and <em>api/controllers/view-login-2.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
