<div id="quiz-report" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/quiz_report.less</em>, <em>assets/js/pages/quiz_report.page.js</em>, and <em>api/controllers/view-quiz-report.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
