<div id="approve-multiple" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/videos/approve_multiple.less</em>, <em>assets/js/pages/videos/approve_multiple.page.js</em>, and <em>api/controllers/videos/view-approve-multiple.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
