<div id="approve-difficult" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/quizzes/approve_difficult.less</em>, <em>assets/js/pages/quizzes/approve_difficult.page.js</em>, and <em>api/controllers/quizzes/view-approve-difficult.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
