<div id="generate" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/quizzes/generate.less</em>, <em>assets/js/pages/quizzes/generate.page.js</em>, and <em>api/controllers/quizzes/view-generate.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
