<div id="index" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/quizzes/index.less</em>, <em>assets/js/pages/quizzes/index.page.js</em>, and <em>api/controllers/quizzes/view-index.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
