<div id="worksheets" v-cloak>

  <h2>Please choose your file and Click upload.</h2>
  <form action="/guides/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="file">
    <input list="category" name="category">
  <datalist id="category">
    <option value="Maths:Heart of Algebra">
    <option value="Maths:Passport to advanced mathematics">
    <option value="Maths:Problem solving and data analysis">
    <option value="Maths:Additional topics in math">
    <option value="Reading:Science">
    <option value="Reading:History">
    <option value="Reading:Literature">
    <option value="Reading:Social Science">
    <option value="Writing:argument">
    <option value="Writing:informative">
    <option value="Writing:narrative">
    <option value="Writing:Grammar and effective language use">

  </datalist>
  <input type="submit">
    

  </form>
  <p>(See also <em>assets/styles/pages/worksheets.less</em>, <em>assets/js/pages/worksheets.page.js</em>, and <em>api/controllers/view-worksheets.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
